.hexagon {
  /* background-color: black; */
  float: left;
  max-width:33%;
  width: 85px;
}

.hexagon img {
    height: 50px;
    padding: 6px 0;
}

#Header {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 110px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#Logo {
  /* background-color: rgb(255, 0, 0); */
  grid-area: 1 / 1 / 2 / 2;
}

#Logo img {
  margin-left: 5px;
  width: 100px;
}

#NavBar {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: left;
}

#nav-social-one {
    margin-right: 10px;
}

#nav-social-two {
    float:right;
    margin: -32px -32px 0 0;
}

.nav-section {
  /* background-color: aqua; */
  height: 60px;
}
