.hexagon {
  border: 5px solid transparent;
  float: left;
  height: 50px;
  max-width: 33%;
  width: 50px;
}

.hexagon img {
  height: 50px;
  padding: 6px 0 0 0;
  width: 50px;
}

#Header {
  display: block;
  margin-bottom: 14px;
}

#Logo {
  float: left;
}

#Logo img {
  margin: 0 5px;
  width: 90px;
}

#NavSite {
  float: left;
}

.nav-site-link {
    display: inline;
    margin: 3px 26px;
}

#NavSocial {
  display: block;
}

#nav-social-two {
  margin-left: 31px;
}

.nav-section {
  float: left;
  height: 50px;
}

#title {
    float: left;
    width: 100%;
}

#welcome {
    float: left;
}