.hexagon {
  border: 5px solid transparent;
  float: left;
  height: 50px;
  max-width: 33%;
  width: 50px;
}

.hexagon img {
  height: 50px;
  padding: 6px 0 0 0;
  width: 50px;
}

#Header {
  /* background-color: blueviolet; */
  grid-area: 1 / 1 / 2 / 2;
  margin: 0 0 14px;
  width: 314px
}

#Logo {
  float: left;
}

#Logo img {
  margin: 0 5px;
  width: 90px;
}

/* #nav-portfolio {
  width: 200px;
} */

#NavSite {
  /* background-color: aqua; */
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 96vw;
}

.nav-site-link {
    display: inline;
    margin: 3px 14px;
}

/* #NavSocial {
  display: block;
} */

#nav-social-two {
  margin-left: 31px;
}

.nav-section {
  float: left;
  height: 50px;
}

/* #title {
  width: 200px;
} */

@media screen and (min-width: 800px) {
  #NavSite {
    grid-area: 1 / 2 / 2 / 3;
    width: 486px;
  }
}